<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>

    <Property name="LOG_PATTERN">
        %d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n
    </Property>

    <Property name="REPORT_DIR">
        Logs
    </Property>
    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <File
                name="File"
                fileName="${sys:user.dir}/reports/Logs/framework-${date:yyyy-MM-dd_HH-mm-ss}.log"
                append="false">

            <PatternLayout pattern="${LOG_PATTERN}"/>

        </File>

    </Appenders>

    <Loggers>

        <Root level="INFO">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>

        </Root>

    </Loggers>

</Configuration>